<% include common/header %>

<div class="container">
  <div class="row main" style="padding-top:100px">

    <h1><%=status%> Error!</h1>
    <h5>미안합니다~</h5>

  </div>
</div>

<% include common/footer %>

