<% include common/header %>

<div class="container">
  <div class="row main" style="padding-top:100px">
  
    <!-- 화면의 중앙에 나타나도록 -->
    <div class="col-md-4 col-md-offset-4">

      <!-- 로그인창 테두리-->
      <div class="panel panel-default">
        <div class="panel-body">

            <!-- * 중요한 부분 : form 태그의 method, action, input 태그의 name-->
            <h1>TodoList <small>for STUDY</small></h1>
            <form name="login" action="/user/login" method="post">
              <div class="form-group">
                <input name="uid" type="text" class="form-control" placeholder="아이디"/>
              </div>
              <div class="form-group">
                <input name="password" type="password" class="form-control" placeholder="비밀번호"/>
              </div>
              <!-- type이 submit이면 form을 전송하는 input이다.-->
              <input type="submit" class="btn btn-primary btn-lg btn-block" value="로그인">
            </form>

        </div>
      </div>
      <!-- 로그인창 테두리 끝-->
    </div>

  </div>
</div>

<script>
document.forms.login.uid.focus();
</script>

<% include common/footer %>

