
</div>

<footer class="footer" height="200px">
	<div class="container">
		<div class="row">
			<h5><%= title%></h5>
		</div>
	</div>
</footer>

<script src="https://designmodo.github.io/Flat-UI/dist/js/vendor/jquery.min.js"></script>
<script src="https://designmodo.github.io/Flat-UI/dist/js/flat-ui.min.js"></script>
</body>
</html>